body {
	width:960px;
	margin:0 auto;
}

div.pigment{
	float:left;
	width:80px;
	height:80px;
	/*padding:4px;*/
}

div.clear {
	clear:both;
}

/*red*/
#p1 { 
	background-color:rgb(254,39,18);
}

/*red-orange*/
#p2 { 
	background-color:rgb(253,83,8);
}

/*red-orange*/
#p3 { 
	background-color:rgb(251,153,2);
}

/*orange-yellow*/
#p4 { 
	background-color:rgb(250,188,2);
}

/*yellow*/
#p5 { 
	background-color:rgb(254,254,1);
}

/*yellow-green*/
#p6 { 
	background-color:rgb(208,234,43);
}

/*green*/
#p7 { 
	background-color:rgb(102,176,50);
}

/*green-blue*/
#p8 { 
	background-color:rgb(3,146,206);
}

/*blue*/
#p9 { 
	background-color:rgb(2,71,254);
}

/*blue-violet*/
#p10 { 
	background-color:rgb(61,1,164);
}

/*violet*/
#p11 { 
	background-color:rgb(134,1,175);
}

/*violet-red*/
#p12 { 
	background-color:rgb(167,25,75);
}